{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "semistandard",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "import",
    "node",
    "promise",
    "standard"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
